// primary palette
$primary: #009BDC !default;
$primary-hover: #0089C2 !default; //review
$secondary: #F9C623 !default;
$secondary-hover: #C2BF0B !default;
$gradient: linear-gradient(180deg, $primary 0%, $secondary 100%) !default;
$gray: #666666 !default;
$light-gray: #F1F1F1 !default; // gray-2
$lighter-gray: #FCFCFC !default; // gray-3
$white: #FFFFFF !default;
$black: #222222 !default;

// secondary palette
$yellow: #F9C623 !default;
$red: #DB3E0B !default;
$green: #1BB53A !default;

// Other styles
$shadow-color: rgba(0, 0, 0, .1) !default;
$shadow: 0 0 8px $shadow-color !default;
$font-family: 'Raleway',
  sans-serif !important !default;

//Charts
$chart1: #F9C623 !default;
$chart2: #E46F2A !default;
$chart3: #58394e !default;
$chart4: #00664a !default;
$chart5: #009164 !default;

//screen sizes
$mobileS: '320px' !default;
$mobileM: '375px' !default;
$mobileL: '425px' !default;
$tablet: '768px' !default;
$wide: '1024px' !default;

//text sizes and/or spaces
$normal: 1rem !default;
$smaller: 1rem !default;
$big: 1.125rem !default;
$bigger: 1.25rem !default;
$biggest: 1.5rem !default;
$double: 2rem !default;
$triple: 3rem !default;
$fivetimes: 5rem !default;
$tentimes: 10rem !default;