// primary palette
$gray: #666666;
$light-gray: #F1F1F1; // gray-2
$lighter-gray: #FCFCFC; // gray-3
$white: #FFFFFF;
$black: #222222;

// secondary palette
$yellow: #F9C623;
$red: #DB3E0B;
$green: #1BB53A;

// Other styles
$shadow-color: rgba(0, 0, 0, .1);
$shadow: 0 0 8px $shadow-color;
$font-family: 'Raleway', sans-serif !important;

// Theme
$primary: #e46f2a;
$secondary: #F9C623;
$text: $gray;

// Custom
$atuacao: #009164;
$comercial: #F9C623;
$social: #e46f2a;

//Charts
$chart1: #F9C623;
$chart2: #E46F2A;
$chart3: #58394e;
$chart4: #00664a;
$chart5: #009164;

//screen sizes
$mobileS: '320px';
$mobileM: '375px';
$mobileL: '425px';
$tablet: '768px';
$wide: '1024px';

//text sizes and/or spaces
$normal: 1rem;
$smaller: 1rem;
$big: 1.125rem;
$bigger: 1.25rem;
$biggest: 1.5rem;
$double: 2rem;
$triple: 3rem;
$fivetimes: 5rem;
$tentimes: 10rem;