@use '../../../sass/theme/app_variables' as *;

.banner {
    display: flex;
    height: 25rem;
    border-radius: $border-radius-1;
    position: relative;
    z-index: 0;

    &:hover {
        .cover {
            filter: brightness(25%);
            transition: all .5s ease;
        }
    }

    .cover {
        border-radius: $border-radius-1;
        background-size: cover;
        filter: brightness(85%);
        flex: 1;
        z-index: 1;
    }
}

.action_box {
    z-index: 2;
    position: absolute;
    flex: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    align-content: center;

    .custom_title {
        >* {
            color: $white;
            font-weight: 700;
        }
    }

    .button {
        margin-top: 2rem;
        align-self: center;
        border-radius: $border-radius-2;
        background-color: $primary;
        opacity: 1;
    }
}