@use '../../../sass/theme/app_variables' as *;

.banner_wrapper {
  border-radius: .5rem;
  box-shadow: $shadow;
  display: flex;
  flex-flow: column nowrap;

  .banner_thumb {
    border-radius: .5rem;
  }

  .class_info {
    padding: 2rem;
  }
}