@use '../../../sass/theme/app_variables' as *;

.banner_wrapper {
  border-radius: $border-radius-1;
  box-shadow: $shadow-1;
  display: flex;
  flex-flow: column nowrap;

  .course_thumb {
    background-size: cover;
    height: 25rem;
    border-radius: $border-radius-1;
    width: auto;
    z-index: 1;
  }

  .separator {
    border: 1px solid $light-gray;
    display: block;
    width: 100%;
  }

  .course_info,
  .course_goals {
    padding: 2rem;
  }

  .course_specs {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;

    >span {
      display: flex;

      >svg {
        margin-right: 0.5rem;
        width: unset;
        height: 1rem;
      }
    }
  }

  .course_goals {
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
  }

}