@use '../../../sass/theme/app_variables' as *;

.video_wrapper {
  border-radius: $border-radius-1;
  box-shadow: $shadow-1;
  display: flex;
  flex-flow: column nowrap;

  .video_player {
    max-height: 48.25rem;

    >video {

      border-radius: $border-radius-1;
    }

  }

  .class_info {
    padding: 2rem;
  }
}