@use '../../../sass/theme/app_variables' as *;

.video_wrapper {
  border-radius: $border-radius-1;
  box-shadow: $shadow-1;
  display: flex;
  flex-flow: column nowrap;

  .video_player {
    max-height: 48.25rem;
    position: relative;

    >video {
      border-radius: $border-radius-1;
    }

    .video_control_panel {
      display: flex;
      flex-flow: row nowrap;
      position: absolute;
      bottom: 0;
      padding: 2rem;

      .play_or_pause {
        color: $white;

        >svg {
          fill: $white;
          height: 1.5rem;
          width: auto;
        }
      }
    }

  }

  .class_info {
    padding: 2rem;
  }
}