@use '../../../sass/theme/app_variables' as *;

.card_box {
  width: 436px;
  background-color: $white;
  border-radius: .5rem;
  box-shadow: $shadow;

  .recoil {
    margin: 0;
  }

  .active {
    background-color: $light-gray;
  }

  .course_class {
    padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .class_status {
      padding-left: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-content: stretch;

      svg {
        height: 1.5rem;
        width: unset;
        border-radius: 50%;
        padding: 0.25rem;
      }

      .error {
        >svg {
          background-color: $light-gray;
          color: $gray;
        }
      }

      .done {
        >svg {
          background-color: $green;
          color: $white;
        }
      }

    }

    .class_info {
      display: flex;
      flex-flow: column wrap;
    }

    .class_thumb {
      .the_thumb {
        width: 115px;
        height: 64.25px;
        border-radius: .5rem;
      }
    }
  }
}